* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorText: #333;
$colorTextMuted: #414141;
$colorLight: #ccc;

body {
    font-family: lato, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.warrper__all {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.wrapper__main {
    width: 100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    .__left,
    .__right {
        .title-main {
            @extend %title-main;
        }
        .underline {
            @extend %underline;
        }
        .content {
            .box {
                @extend %box;
            }
        }
    }
    .__mid {
        .title-main {
            @extend %title-main;
        }
        .underline {
            @extend %underline;
        }
        .content {
            margin-top: 30px;
            .image-mid {
                width: 100%;
                padding: 5px;

                border: 1px solid #ccc;
                border-radius: 5px;
                overflow: hidden;
            }
            .info {
                width: 100%;
                p {
                    margin-top: 10px;
                    color: $colorText;
                }
            }
        }
    }
}
%title-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $colorText;
    }
    .all {
        text-transform: capitalize;
        color: blue;
    }
}
%underline {
    width: 100%;
    height: 3px;
    margin-top: 15px;

    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;

    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 5px;
        border-top: 1px dotted #0f0;
        border-bottom: 1px dotted #f00;

        position: absolute;
        top: -3px;
        left: 0;
    }
}
%box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px dotted $colorTextMuted;
    padding: 30px 0;
    .image {
        width: 90px;
        height: 90px;
        padding: 5px;

        border: 0.5px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .info {
        width: calc(100% - 100px);
        .title-info {
            font-size: 1.1rem;
            font-weight: bold;
            transition: all 0.3s linear;
            &:hover {
                color: blue;
            }
        }
        .time {
            margin-top: 5px;
            font-size: 0.85rem;
            color: #aaa;
        }
        p {
            margin-top: 5px;
            color: $colorTextMuted;
            a {
                color: blue;
            }
        }
        .config2line {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        .contact {
            display: inline-block;
            margin-top: 10px;
            color: blue;
        }
    }
    &:last-child {
        border: none;
    }
}
