* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: lato, sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap__all .wrap__header .hero, .wrap__all .wrap__main .main__products, .wrap__all .wrap__main .people-say, .wrap__all .wrap__main .banner .banner__content, .wrap__all .wrap__main .subcribe, .wrap__all .wrap__main .download-app {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.wrap__all .wrap__main .main__products .product__item .introduction .title span, .wrap__all .wrap__main .people-say .title span, .wrap__all .wrap__main .subcribe .title span, .wrap__all .wrap__main .download-app .download__title span {
  width: 11px;
  height: 10px;
  display: inline-block;
  background-image: url(./images/dot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap__all .wrap__main .main__products .product__item .introduction .title, .wrap__all .wrap__main .people-say .title, .wrap__all .wrap__main .subcribe .title, .wrap__all .wrap__main .download-app .download__title {
  font-size: 3.75rem;
  color: #363636;
  text-align: center;
}

.wrap__all {
  width: 100%;
  max-width: 1700px;
  margin: auto;
}

.wrap__all .wrap__header {
  width: 100%;
  background-image: url(./images/bgtop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap__all .wrap__header .nav-bar {
  width: 100%;
  height: 120px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__all .wrap__header .nav-bar .logo {
  width: 200px;
  line-height: 120px;
  text-align: left;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__header .nav-bar .logo:hover {
  color: #363636;
}

.wrap__all .wrap__header .nav-bar .menu {
  width: calc(100% - 200px);
}

.wrap__all .wrap__header .nav-bar .menu ul {
  text-align: right;
}

.wrap__all .wrap__header .nav-bar .menu ul .item {
  line-height: 120px;
  display: inline-block;
  margin-left: 65px;
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__header .nav-bar .menu ul .item:hover {
  color: #363636;
}

.wrap__all .wrap__header .hero {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap__all .wrap__header .hero .hero__left {
  width: 50%;
  margin-top: 80px;
}

.wrap__all .wrap__header .hero .hero__left .title {
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
}

.wrap__all .wrap__header .hero .hero__left .intro {
  margin-top: 25px;
  color: #fff;
  font-size: 1.5rem;
}

.wrap__all .wrap__header .hero .hero__left .download {
  display: inline-block;
  margin-top: 100px;
  padding: 0.84rem 2.85rem;
  background-color: #fff;
  color: #d90646;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__header .hero .hero__left .download:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.wrap__all .wrap__header .hero .hero__right {
  width: 50%;
}

.wrap__all .wrap__header .hero .hero__right .image {
  width: 385px;
  margin-left: auto;
}

.wrap__all .wrap__main {
  width: 100%;
}

.wrap__all .wrap__main .main__products {
  margin-top: 90px;
}

.wrap__all .wrap__main .main__products .product__item {
  width: 100%;
  height: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap__all .wrap__main .main__products .product__item .image {
  width: 50%;
  height: 100%;
  position: relative;
}

.wrap__all .wrap__main .main__products .product__item .image .image__message {
  width: 300px;
  position: absolute;
  top: -80px;
  left: -60px;
  z-index: 9;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.wrap__all .wrap__main .main__products .product__item .image .image__chat {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.wrap__all .wrap__main .main__products .product__item .introduction {
  width: 50%;
}

.wrap__all .wrap__main .main__products .product__item .introduction .info {
  margin-top: 40px;
  font-size: 1.125rem;
  color: #808080;
  letter-spacing: 1.4px;
  line-height: 1.5;
}

.wrap__all .wrap__main .main__products .product__item:last-child {
  margin-top: 125px;
}

.wrap__all .wrap__main .main__products .product__item:last-child .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrap__all .wrap__main .main__products .product__item:last-child .image .image__product {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 12;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.wrap__all .wrap__main .main__products .product__item:last-child .image .image__group {
  width: 300px;
  position: absolute;
  top: -80px;
  right: -50px;
  z-index: 11;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.wrap__all .wrap__main .main__products .product__item:last-child .introduction {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrap__all .wrap__main .line1 {
  width: 100%;
  height: 1px;
  margin-top: 185px;
  background-color: #ddd;
}

.wrap__all .wrap__main .people-say {
  margin-top: 100px;
}

.wrap__all .wrap__main .people-say .content {
  width: 100%;
  margin-top: 125px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.wrap__all .wrap__main .people-say .content .people__item {
  width: 100%;
}

.wrap__all .wrap__main .people-say .content .people__item .item__content {
  width: 100%;
  padding: 30px;
  border: 1px solid #ddd;
  position: relative;
}

.wrap__all .wrap__main .people-say .content .people__item .item__content p {
  font-size: 1.125rem;
  color: #808080;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.wrap__all .wrap__main .people-say .content .people__item .item__content .name {
  display: inline-block;
  margin-top: 25px;
  font-size: 1.125rem;
  color: #eb3f2d;
}

.wrap__all .wrap__main .people-say .content .people__item .item__content .layout {
  width: 100%;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.wrap__all .wrap__main .people-say .content .people__item .item__content:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -10px;
  left: 20px;
  z-index: 99;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image .sign {
  width: calc(100% - 60px);
  padding-left: 20px;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image .sign p {
  font-size: 1.125rem;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image .sign p:first-child {
  color: #363636;
}

.wrap__all .wrap__main .people-say .content .people__item .item__image .sign p:last-child {
  color: #808080;
}

.wrap__all .wrap__main .people-say .content .people__item:nth-child(2) .item__content {
  top: -30px;
  border: none;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.wrap__all .wrap__main .banner {
  width: 100%;
  height: 520px;
  margin-top: 240px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eb3f2d), color-stop(#e83434), color-stop(#e3283a), color-stop(#df1a40), to(#d90646));
  background-image: linear-gradient(to top, #eb3f2d, #e83434, #e3283a, #df1a40, #d90646);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap__all .wrap__main .banner .banner__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap__all .wrap__main .banner .banner__content .banner__left,
.wrap__all .wrap__main .banner .banner__content .banner__right {
  width: calc(50% - 225px);
  height: 100%;
  display: block;
  padding-top: 110px;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item .content,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item .content {
  width: calc(100% - 100px);
  padding-top: 10px;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item .content h3,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item .content h3 {
  font-size: 24px;
  color: #fff;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item .content p,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item .content p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.6px;
  color: #fff;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item .icon,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item .icon {
  width: 60px;
  font-size: 50px;
  color: #fff;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .banner__item:first-child,
.wrap__all .wrap__main .banner .banner__content .banner__right .banner__item:first-child {
  margin-bottom: 40px;
}

.wrap__all .wrap__main .banner .banner__content .banner__left .content {
  text-align: right;
}

.wrap__all .wrap__main .banner .banner__content .banner__image {
  width: 370px;
  position: relative;
  top: -85px;
}

.wrap__all .wrap__main .banner .banner__content .banner__image .layout {
  width: 290px;
  height: 520px;
  position: absolute;
  top: 84px;
  left: 39px;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrap__all .wrap__main .banner .banner__content .banner__image .play {
  width: 56px;
  height: 56px;
  background-image: url(./images/play.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__main .banner .banner__content .banner__image .play:hover {
  background-color: hotpink;
  border-radius: 50%;
}

.wrap__all .wrap__main .subcribe {
  margin-top: 230px;
}

.wrap__all .wrap__main .subcribe p {
  margin-top: 50px;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.7px;
}

.wrap__all .wrap__main .subcribe .sub__form {
  width: 570px;
  height: 50px;
  margin: auto;
  margin-top: 70px;
  position: relative;
}

.wrap__all .wrap__main .subcribe .sub__form input {
  width: 100%;
  height: 100%;
  padding-left: 25px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-color: #f8f8f8;
  overflow: hidden;
  font-family: inherit;
  font-size: 1.125rem;
}

.wrap__all .wrap__main .subcribe .sub__form input::-webkit-input-placeholder {
  font-size: 1.125rem;
  letter-spacing: 0.7px;
  color: #808080;
}

.wrap__all .wrap__main .subcribe .sub__form input:-ms-input-placeholder {
  font-size: 1.125rem;
  letter-spacing: 0.7px;
  color: #808080;
}

.wrap__all .wrap__main .subcribe .sub__form input::-ms-input-placeholder {
  font-size: 1.125rem;
  letter-spacing: 0.7px;
  color: #808080;
}

.wrap__all .wrap__main .subcribe .sub__form input::placeholder {
  font-size: 1.125rem;
  letter-spacing: 0.7px;
  color: #808080;
}

.wrap__all .wrap__main .subcribe .sub__form input:focus {
  outline: none;
}

.wrap__all .wrap__main .subcribe .sub__form button {
  width: 180px;
  height: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eb3f2d), color-stop(#e83434), color-stop(#e3283a), color-stop(#df1a40), to(#d90646));
  background-image: linear-gradient(to top, #eb3f2d, #e83434, #e3283a, #df1a40, #d90646);
  border-radius: 50px;
  border: none;
  font-family: inherit;
  font-size: 1.125rem;
  color: #fff;
  -webkit-box-shadow: 0 10px 15px #f8d0d7;
          box-shadow: 0 10px 15px #f8d0d7;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  right: 0;
}

.wrap__all .wrap__main .subcribe .sub__form button:focus {
  outline: none;
  border: none;
}

.wrap__all .wrap__main .subcribe .sub__form button:hover {
  width: 200px;
}

.wrap__all .wrap__main .line2 {
  width: 100%;
  height: 1px;
  margin-top: 150px;
  background-color: #ddd;
}

.wrap__all .wrap__main .download-app {
  margin-top: 100px;
}

.wrap__all .wrap__main .download-app .download__icon {
  width: 160px;
  height: 160px;
  margin: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eb3f2d), color-stop(#e83434), color-stop(#e3283a), color-stop(#df1a40), to(#d90646));
  background-image: linear-gradient(to top, #eb3f2d, #e83434, #e3283a, #df1a40, #d90646);
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 20px #f8d0d7cc;
          box-shadow: 0 10px 20px #f8d0d7cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__all .wrap__main .download-app .download__icon span {
  font-size: 6rem;
  color: #fff;
}

.wrap__all .wrap__main .download-app .download__title {
  margin-top: 60px;
}

.wrap__all .wrap__main .download-app p {
  margin-top: 45px;
  text-align: center;
  font-size: 1.125rem;
  color: #808080;
}

.wrap__all .wrap__main .download-app .download__image {
  width: 185px;
  margin: auto;
  margin-top: 60px;
}

.wrap__all .wrap__footer {
  width: 100%;
  height: 100px;
}

.wrap__all .wrap__footer .nav-bar {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__all .wrap__footer .nav-bar .menu {
  width: calc(100% - 200px);
}

.wrap__all .wrap__footer .nav-bar .menu ul .item {
  line-height: 100px;
  display: inline-block;
  margin-right: 65px;
  color: #363636;
  font-size: 1.125rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__footer .nav-bar .menu ul .item:hover {
  color: #eb3f2d;
}

.wrap__all .wrap__footer .nav-bar .lang {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  border-radius: 50px;
  padding: 0 20px 0 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.wrap__all .wrap__footer .nav-bar .lang .dropdown {
  cursor: pointer;
}

.wrap__all .wrap__footer .nav-bar .lang .dropdown:hover ~ ul {
  display: block;
}

.wrap__all .wrap__footer .nav-bar .lang ul {
  width: 90%;
  position: absolute;
  bottom: 100%;
  left: 10%;
  display: none;
}

.wrap__all .wrap__footer .nav-bar .lang ul .lang__item {
  padding-left: 15px;
  line-height: 40px;
  background-color: #f8f8f8;
  color: #363636;
  border: 1px solid #ddd;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__all .wrap__footer .nav-bar .lang ul .lang__item:hover {
  background-color: lightcyan;
  color: blue;
}

.btn2top {
  display: none;
}
/*# sourceMappingURL=style.css.map */